.env
/node_modules
/.vscode
/services/grade-submission-alert-service/node_modules
/services/grades-sync-service/node_modules
.DS_Store
.DS_Store
/services/users-sync-service/node_modules
.DS_Store
.DS_Store
.DS_Store
services/student-progression/certs/ca.crt
parent-api-gateway/certs/ca.crt
parent-api-gateway/certs/client.crt
parent-api-gateway/certs/client.csr
parent-api-gateway/certs/client.key
parent-api-gateway/server.crt
parent-api-gateway/server.key
services/student-progression/certs/server.crt
services/student-progression/certs/server.csr
services/student-progression/certs/server.key
services/auth-service/server.crt
services/auth-service/server.key
